@media only screen and (min-width: 600px) {
body{
  background-color: #FCEFE8;
}

h1{
  font-family: Didot;
  color: #937862;
} 

}

body{
  background-color: #FCEFE8;
}

h1{
  font-family: Didot;
  color: #937862;
} 
