@media only screen and (min-width: 600px) {
body{
  background-color: #FCEFE8;
}

h1{
  font-family: Didot;
  color: #937862;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  } 

label{
  display: block;
  font-size: 1em;
  color: #937862;
}


}

body{
  background-color: #FCEFE8;
}

h1{
  font-family: Didot;
  color: #937862;
} 

label{
  display: block;
  font-size: 1em;
  color: #937862;
}
